<h1>Departments</h1>
<% @departments.each do |department|%>
  <div>
    <span><%= department.name %></span>
    <span><%= department.employees_count %> </span>
    <%= link_to "show", department_path(department) %>
    <%= link_to "destroy", department_path(department), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>
<% end %>

